.banner {
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 65px 0;
    &-img {
        height: 405px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-detail {
        display: flex;
        align-items: center;
    }
    .caption {
        padding-left: 35px;
        .des {
            padding-left: 50px;
            position: relative;
            text-transform: uppercase;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: -25%;
                height: 34px;
                width: 34px;
                background-image: url("../img/banner/des.png");
                background-repeat: no-repeat;
                background-size: 100%;
            }
            p {
                position: relative;
                display: inline-block;
                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 3px;
                    background: $color-global;
                    bottom: -2px;
                }
            }
        }
        .name {
            font-family: "UTM";
            font-size: 72px;
        }
    }
}
.introduce {
    padding: 70px 0;
    &-left {
        position: relative;
        // .name {
        //     display: inline-block;
        //     transform: rotate(-90deg);
        //     width: 279px;
        //     font-size: 24px;
        //     font-weight: 700;
        //     // position: absolute;
        //     // top: 0;
        // }
        .img-below {
            width: 80%;
            height: 500px;
            object-fit: cover;
            float: right;
        }
        .border-img {
            padding: 20px;
            background: #fff;
            img {
                width: 369px;
                height: 268px;
            }
            position: absolute;
        }
    }
    .content-detail {
        padding-left: 50px;
        .title {
            font-size: 36px;
            font-family: "UTM";
            font-weight: 700;
            padding-right: 30px;
            justify-content: space-between;
            margin-bottom: 32px;
        }
        .des {
            margin-bottom: 35px;
        }
        .nav-item {
            border-bottom: 4px solid $color-global;
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }

        .nav-pills .nav-link {
            border-radius: 0;
            color: $text-color;
            font-weight: 700;
            font-family: "UTM";
            font-size: 18px;
            padding: 10px 38px 18px 38px;
            &.active {
                background: $color-global;
                color: #fff;
            }
        }
        .tab-content {
            .text {
                text-align: justify;
                text-transform: capitalize;
                margin: 20px 0;
            }
            &--img {
                width: 160px;
                height: 90px;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &::before {
                    position: absolute;
                    content: "";
                    height: 100%;
                    width: 10px;
                    background: $color-global;
                    left: -15px;
                }
            }
        }
        .data {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .number {
                font-weight: 700;
                font-size: 48px;
                color: $color-green;
            }
            span {
                color: #000;
            }
        }
    }
}
