.banner {
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 65px 0;
    &-img {
        height: 405px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-detail {
        display: flex;
        align-items: center;
    }
    .caption {
        padding-left: 35px;
        .des {
            padding-left: 50px;
            position: relative;
            text-transform: uppercase;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: -25%;
                height: 34px;
                width: 34px;
                background-image: url("../img/banner/des.png");
                background-repeat: no-repeat;
                background-size: 100%;
            }
            p {
                position: relative;
                display: inline-block;
                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 3px;
                    background: $color-global;
                    bottom: -2px;
                }
            }
        }
        .name {
            font-family: "UTM";
            font-size: 72px;
        }
    }
}
.introduce {
    &-left {
        position: relative;
        .name {
            display: inline-block;
            transform: rotate(-90deg);
            width: 279px;
            font-size: 24px;
            font-weight: 700;
            position: absolute;
            top: 0;
        }
    }
}
