@font-face {
    font-family: "UTM";
    font-display: swap;
    src: url("../fonts/word/UTM\ Neo\ Sans\ IntelBold.ttf") format("truetype");
}
.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px;
    color: $text-color;
}
.heading {
    color: $color-green;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    &::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 2px;
        background: $color-green;
        right: -60px;
        bottom: 5px;
    }
}
.section-title {
    font-size: 36px;
    font-family: "UTM";
    font-weight: 700;
    padding-right: 30px;
    justify-content: space-between;
    margin-bottom: 32px;

    @include maxWidth(480px) {
        padding-right: 0;
        font-size: 28px;
        margin-bottom: 28px;
    }
}
.truncate-h {
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.item-img {
    overflow: hidden;
    img {
        transition: 0.5s all ease-in;
    }
    &:hover.item-img img {
        transform: scaleY(1.1);
    }
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
// .line-menu {
//     width: 0;
//     height: 2px;
//     background-color: $color-global;
//     position: fixed;
//     pointer-events: none;
//     z-index: 99;
//     transition: all 0.25s linear;
// }
