@font-face {
    font-family: "UTM";
    font-display: swap;
    src: url("../fonts/word/UTM\ Neo\ Sans\ IntelBold.ttf") format("truetype");
}
.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px;
    color: $text-color;
}
.heading {
    color: $color-green;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 2px;
    }
}
