.top-header {
    height: 40px;
    .bg-left {
        background: red;
        width: 70%;
        height: 50px;
    }
    .bg-right {
        background: #000;
        width: 30%;
        height: 50px;
    }
}
